YUI.add('pi-templates', function (Y) {

    var Templates = Y.namespace('PI').Templates = {};

  {{#templates}}
    Templates['{{{name}}}'] = Y.Handlebars.template({{{template}}});
  {{/templates}}

}, '0.5.2', {
    requires: ['handlebars-base']
});