<p>
    <input id="login-username" type="text" value="{{login}}" placeholder="Username" />
    <input id="login-password" type="password" placeholder="Password" />
    <button class="yui3-button">Sign In</button>
    <button class="yui3-button">Sign Up</button>
</p>